@charset "UTF-8";

.error-title {
	color: #FF9872;
	font: italic small-caps bold 16px/2 cursive;
	font-size: 50px;
	display: flex;
	justify-content: center;
}


.error-explanation p {
	display: flex;
	justify-content: center;
}

.error-explanation a {
	display: flex;
	justify-content: center;
}

.error-image {
	height: 574px;
	width: 1138px;
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}
