@charset "UTF-8";

.order-status {
	color: red;
	font-weight: bold;
}

table {
	border: solid 1px #BBBBBB;
}

tr {
	border: solid 1px #CCCCCC;
}

td {
	border: solid 1px #CCCCCC;
	width: 205.75px;
}

th {
	border: solid 1px #CCCCCC;
	width: 205.75px;
	background-color: #EEEEEE;
}