<!DOCTYPE html>
<html
  lang="ja"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Import Materialize CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Import Font Wesome -->
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/register_admin.css}" />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <link rel="stylesheet" th:href="@{/css/item_list.css}" />
    <link rel="stylesheet" th:href="@{/css/item_detail.css}" />
    <link rel="stylesheet" th:href="@{/css/cart_list.css}" />
    <link rel="stylesheet" th:href="@{/css/order_confirm.css}" />
    <link rel="stylesheet" th:href="@{/css/order_finished.css}" />
    <link rel="stylesheet" th:href="@{/css/responsive.css}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>商品一覧|ラクラクカリー</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header">
          <div class="header-left">
            <a href="top.html" th:href="@{/}">
              <img class="logo" src="img/header_logo.png" />
            </a>
            <span class="show-name" sec:authorize="isAuthenticated()"
              ><span sec:authentication="principal.user.name">ユーザー</span
              >さんナマステ！</span
            >
            <span class="show-name" sec:authorize="!isAuthenticated()"
              >ゲストさんナマステ！</span
            >
          </div>
          <div class="header-right">
            <a href="item_list.html" th:href="@{/showList}">商品一覧</a>

            <span class="header-right" sec:authorize="!isAuthenticated()">
              <a th:href="@{/registerUser}">会員登録</a>
            </span>

            <a th:href="@{/cart/showCartList}">
              <i class="fas fa-shopping-cart"> </i>カート
            </a>
            <span class="header-right" sec:authorize="!isAuthenticated()">
              <a th:href="@{/loginAndLogout}" class="login">
                <i class="fas fa-sign-in-alt"></i>ログイン
              </a>
            </span>

            <span class="header-right" sec:authorize="isAuthenticated()">
              <a th:href="@{/loginAndLogout/logout}" class="login">
                <i class="fas fa-sign-in-alt"></i>ログアウト
              </a>
            </span>

            <a th:href="@{/orderHistory}">注文履歴</a>
          </div>
        </div>
      </div>
    </header>

    <!-- search form -->
    <div class="search-wrapper">
      <div class="container">
        <div th:if="${message}">
          <p class="message" th:text="${message}">該当商品がありません</p>
        </div>
        <form th:action="@{/}" name="name" class="search-form">
          <input
            type="text"
            name="name"
            class="search-name-input"
            id="searchItem"
            autocomplete="name"
            list="itemList"
          />
          <datalist id="itemList">
            <option th:each="item:${itemList}" th:value="${item.name}"></option>
          </datalist>
          <button class="btn search-btn" type="submit">
            <span>検　索</span>
          </button>
        </form>
      </div>
    </div>

    <!-- item list -->
    <div class="item-wrapper">
      <div class="container">
        <div class="items">
          <div th:each="item:${itemList}">
            <div class="item">
              <div class="item-icon">
                <img th:src="@{/img/}+${item.imagePath}" />
              </div>
              <a
                th:href="@{'/showDetail?id='+${item.id}}"
                th:text="${item.name}"
                >カレー</a
              ><br />
              <span>
                <span class="price">Ｍ</span
                ><span
                  th:text="${#numbers.formatInteger(item.priceM, 1, 'COMMA')}"
                ></span
                >円(税抜)<br />
                <span class="price">Ｌ</span
                ><span
                  th:text="${#numbers.formatInteger(item.priceL, 1, 'COMMA')}"
                ></span
                >円(税抜)<br />
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <img src="img/header_logo.png" />
        <p>ピリッとスパイシーな気分をあなたにお届け！</p>
      </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script th:src="@{/js/paginathing.js}"></script>
    <script type="text/javascript">
      $(function () {
        $(".items").paginathing({
          perPage: 9,
          prevText: "前へ",
          nextText: "次へ",
        });
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
