<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Import Materialize CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Import Font Wesome -->
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/register_admin.css}" />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <link rel="stylesheet" th:href="@{/css/item_list.css}" />
    <link rel="stylesheet" th:href="@{/css/item_detail.css}" />
    <link rel="stylesheet" th:href="@{/css/cart_list.css}" />
    <link rel="stylesheet" th:href="@{/css/order_confirm.css}" />
    <link rel="stylesheet" th:href="@{/css/order_finished.css}" />
    <link rel="stylesheet" th:href="@{/css/responsive.css}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>注文確認画面|ラクラクカリー</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header">
          <div class="header-left">
            <a th:href="@{/}">
              <img class="logo" th:src="@{/img/header_logo.png}" />
            </a>
          </div>

          <div class="header-right">
            <a th:href="@{/}">商品一覧</a>
            <a th:href="@{/registerUser}">会員登録</a>
            <a th:href="@{/cart/showCartList}"
              ><i class="fas fa-shopping-cart"></i>カート</a
            >
            <a th:href="@{/LoginAndLogout}" class="login">
              <i class="fas fa-sign-in-alt"></i>ログイン
            </a>

            <a th:href="@{/orderHistory}">注文履歴</a>
          </div>
        </div>
      </div>
    </header>
    <div class="top-wrapper">
      <div class="container">
        <h1 class="page-title">注文内容確認</h1>
        <!-- table -->
        <div class="row">
          <table class="striped">
            <thead>
              <tr>
                <th class="cart-table-th">商品名</th>
                <th>サイズ、価格(税抜)、数量</th>
                <th>トッピング、価格(税抜)</th>
                <th>小計</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="orderItem:${order.orderItemList}">
                <td class="cart-item-name">
                  <div class="cart-item-icon">
                    <img th:src="@{/img/} + ${orderItem.item.imagePath}" />
                  </div>
                  <span th:text="${orderItem.item.name}">カツカレー</span>
                </td>
                <td>
                  <span class="price" th:text="${orderItem.size}"
                    >&nbsp;M or Ｌ</span
                  >
                  &nbsp;&nbsp;<span
                    th:if="${orderItem.size}=='M'"
                    th:text="${#numbers.formatInteger(orderItem.Item.priceM, 1, 'COMMA')}+円"
                    >Mの値段</span
                  >
                  <span
                    th:if="${orderItem.size}=='L'"
                    th:text="${#numbers.formatInteger(orderItem.Item.priceL, 1, 'COMMA')}+円"
                    >Lの値段</span
                  >
                  &nbsp;&nbsp;<span th:text="${orderItem.quantity}">数量</span
                  >個
                </td>
                <td>
                  <ul>
                    <li th:each="orderTopping:${orderItem.orderToppingList}">
                      <span th:text="${orderTopping.topping.name}">商品名</span>
                      <span
                        th:if="${orderItem.size}=='M'"
                        th:text="${#numbers.formatInteger(orderTopping.topping.priceM, 1, 'COMMA')}"
                        >金額</span
                      >円
                    </li>
                  </ul>
                </td>
                <td>
                  <div class="text-center">
                    <span
                      th:text="${#numbers.formatInteger(orderItem.getSubTotal(), 1, 'COMMA')}"
                      >小計金額</span
                    >円
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row cart-total-price">
          <div>
            消費税：<span
              th:text="${#numbers.formatInteger(order.getTax(), 1, 'COMMA')}"
              >消費税</span
            >円
          </div>
          <div>
            ご注文金額合計：<span
              th:text="${#numbers.formatInteger(order.getCalcTotalPrice(), 1, 'COMMA')}"
              >合計金額</span
            >円 (税込)
          </div>
        </div>

        <form th:action="@{/order}" method="post" th:object="${orderForm}">
          <input type="hidden" name="orderId" th:value="${order.id}" />
          <input
            type="hidden"
            name="totalPrice"
            th:value="${order.TotalPrice}"
          />
          <h2 class="page-title">お届け先情報</h2>
          <div class="order-confirm-delivery-info">
            <div class="row">
              <div class="error" th:errors="*{destinationName}"></div>
              <div class="input-field">
                <input
                  id="destinationName"
                  type="text"
                  th:field="*{destinationName}"
                />
                <label for="name">お名前</label>
              </div>
            </div>
            <div class="row">
              <div class="error" th:errors="*{destinationEmail}"></div>
              <div class="input-field">
                <input
                  id="email"
                  type="text"
                  name="destinationEmail"
                  th:field="*{destinationEmail}"
                />
                <label for="email">メールアドレス</label>
              </div>
            </div>
            <div class="row">
              <div class="error" th:errors="*{destinationZipcode}"></div>
              <div class="input-field">
                <input
                  id="zipcode"
                  type="text"
                  maxlength="8"
                  name="destinationZipcode"
                  th:field="*{destinationZipcode}"
                />
                <label for="zipcode">郵便番号 (例)123-4567</label>
                <button id="get_address_btn" type="button">
                  <span>住所検索</span>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="error" th:errors="*{destinationAddress}"></div>
              <div class="input-field">
                <input
                  id="address"
                  type="text"
                  name="destinationAddress"
                  th:field="*{destinationAddress}"
                />
                <label for="address">住所</label>
              </div>
            </div>
            <div class="row">
              <div class="error" th:errors="*{destinationTel}"></div>
              <div class="input-field">
                <input
                  id="tel"
                  type="text"
                  name="destinationTel"
                  th:field="*{destinationTel}"
                />
                <label for="tel">電話番号 (例)03-1234-5678</label>
              </div>
            </div>
            <div class="row order-confirm-delivery-datetime">
              <div class="error" th:errors="*{deliveryDate}"></div>
              <div class="input-field">
                <input
                  id="deliveryDate"
                  type="date"
                  name="deliveryDate"
                  th:field="*{deliveryDate}"
                />
                <label for="address"
                  >配達日時(３時間後より配達が可能です)</label
                >
              </div>
              <div class="error" th:errors="*{deliveryTime}"></div>
              <label class="order-confirm-delivery-time">
                <input
                  name="deliveryTime"
                  type="radio"
                  value="10"
                  th:field="*{deliveryTime}"
                />
                <span>10時</span>
              </label>
              <label class="order-confirm-delivery-time">
                <input
                  name="deliveryTime"
                  type="radio"
                  value="11"
                  th:field="*{deliveryTime}"
                />
                <span>11時</span>
              </label>
              <label class="order-confirm-delivery-time">
                <input
                  name="deliveryTime"
                  type="radio"
                  value="12"
                  th:field="*{deliveryTime}"
                />
                <span>12時</span>
              </label>
              <label class="order-confirm-delivery-time">
                <input
                  name="deliveryTime"
                  type="radio"
                  value="13"
                  th:field="*{deliveryTime}"
                />
                <span>13時</span>
              </label>
              <label class="order-confirm-delivery-time">
                <input
                  name="deliveryTime"
                  type="radio"
                  value="14"
                  th:field="*{deliveryTime}"
                />
                <span>14時</span>
              </label>
              <label class="order-confirm-delivery-time">
                <input
                  name="deliveryTime"
                  type="radio"
                  value="15"
                  th:field="*{deliveryTime}"
                />
                <span>15時</span>
              </label>
              <label class="order-confirm-delivery-time">
                <input
                  name="deliveryTime"
                  type="radio"
                  value="16"
                  th:field="*{deliveryTime}"
                />
                <span>16時</span>
              </label>
              <label class="order-confirm-delivery-time">
                <input
                  name="deliveryTime"
                  type="radio"
                  value="17"
                  th:field="*{deliveryTime}"
                />
                <span>17時</span>
              </label>
              <label class="order-confirm-delivery-time">
                <input
                  name="deliveryTime"
                  type="radio"
                  value="18"
                  th:field="*{deliveryTime}"
                />
                <span>18時</span>
              </label>
            </div>
          </div>

          <h2 class="page-title">お支払い方法</h2>
          <div class="row order-confirm-payment-method">
            <div class="error" th:errors="*{paymentMethod}"></div>
            <span>
              <label class="order-confirm-payment-method-radio">
                <input
                  name="paymentMethod"
                  type="radio"
                  value="1"
                  th:field="*{paymentMethod}"
                />
                <span>代金引換</span>
              </label>
              <label class="order-confirm-payment-method-radio">
                <input
                  name="paymentMethod"
                  type="radio"
                  value="2"
                  th:field="*{paymentMethod}"
                />
                <span>クレジットカード</span>
              </label>
            </span>
          </div>
          <div class="row order-confirm-btn">
            <button class="btn" type="submit">
              <span>この内容で注文する</span>
            </button>
          </div>
        </form>
      </div>
      <!-- end container -->
    </div>
    <!-- end top-wrapper -->
    <footer>
      <div class="container">
        <img src="img/header_logo.png" />
        <p>ピリッとスパイシーな気分をあなたにお届け！</p>
      </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script th:src="@{/js/get_address.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
